Bot Cotizaciones.json
{
  "name": "Bot Cotizaciones",
  "nodes": [
    {
      "parameters": {
        "url": "https://criptoya.com/api/dolar",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        0
      ],
      "id": "410dae32-6a78-4f0e-a47f-1357dc24b409",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "=1856129956",
        "text": "=Cotizaciones Comprar - Vender:\nOFICIAL (BNA): ${{ $json.bna.ask }} - ${{ $json.bna.bid }}\nBLUE: ${{ $('HTTP Request').item.json.blue.ask }} - ${{ $('HTTP Request').item.json.blue.bid }}\nUSDT: ${{ $('HTTP Request').item.json.cripto.usdt.ask }} - ${{ $('HTTP Request').item.json.cripto.usdt.bid }}\nMEP (AL30 T+1): ${{ $('HTTP Request').item.json.mep.al30['24hs'].price }}\nCCL (AL30 T+1): ${{ $('HTTP Request').item.json.ccl.al30['24hs'].price }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        0
      ],
      "id": "80ecb53c-c3af-4342-9da1-c91fa9924f1a",
      "name": "Dolares",
      "webhookId": "56d3b698-cc73-41cc-8b09-fb3745e85818",
      "credentials": {
        "telegramApi": {
          "id": "KOS9acBuNb28qvRC",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            },
            {
              "triggerAtHour": 12
            },
            {
              "triggerAtHour": 14
            },
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "7ed23327-9ac2-4570-b915-99387479854b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://criptoya.com/api/bancostodos",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        0
      ],
      "id": "8d085ed9-a394-4821-b891-491c7b1f6b27",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Dolares",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f654d07-7b0e-4c0d-9104-a3751b86a73f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f235fe677080c9856cefa9153dba8f571870d8329cf07c9f1d5988ce7563dfdf"
  },
  "id": "vV4Ao0DCZVQviM72",
  "tags": []
}